/* ul > li{
    list-style-type: none;
    display: inline;
}
.foot{
    justify-content: space-between;
}
.inline{
    display: inline;
}
.doctor{
    height: 100px;

}
.head{
    float: right;
}
.derecha{

    float: right;

} */

.navBar {
    display: flex;
    justify-content: left;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;   
    width: 92%;
    position: relative;
}

ul > li {
    margin: 10px;
}

ul > li:last-child {
    position: absolute;
    right: 0;
    padding-right: 5px;
    border-right: 5px solid grey;
}