ul > li{
    list-style-type: none;
    display: inline;
}
.foot{
    justify-content: space-between;
}
.inline{
    display: inline;
}
.doctor{
    height: 100px;

}
.head{
    float: right;
}
.derecha{

    float: right;

}
.img{
    width: 75px;
}

.foo{
    display: flex;
    justify-content: space-between;
    
}
.texto{
    display: inline;
    align-items: center;
}